@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 80px;
    border-radius: 15px 15px 40% 15px;
}
.input-container{
    display: flex;
    gap: 20px;
    min-width: 30vw;
    border-bottom: 1px solid #F0F0F0;
}
.input-container input{
    width: 60%;
    height: 30px;
    padding: 10px;
    border: 2px solid #844CFC;
    font-weight: bold;
}
.input-container button{
    width: 40%;
    font-weight: 600;
    background-color: #844CFC;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.input-container button:hover{
    background-color: #8d5ef4;
    border: 2px solid #844CFC;
}
.output-container{
    font-size: 5rem;
    font-weight: bold;
}
.output-container>p{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-style: italic;
}
.output-container>p span{
    font-size: 6rem;
    color: #844CFC;
}